body{
	width: 100%;
	background-image: url('Images/bg1.png');
	background-attachment: fixed;
	background-size: cover;
}

#navBox{
  z-index: 3;
  opacity: 80%;
  background-color: #112d4e;
  padding: 15px;
  position: fixed;
  top: 20px;
  left: 40px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#navBox:hover{
  opacity: 100%;
}

.sidemenu{
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  padding-top: 100px;
  height: 100vh;
  transition-duration: 0.3s;
  z-index: 3;
}

.sidemenu a{
  text-decoration: none;
  font-size: 26px;
  color: #999;
  display: block;
  visibility: hidden;
  padding: 8px 8px 60px 30%;
}

.sidemenu a:hover{
  color: white;
}

.sidemenu .closebtn{
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 25px;
  margin-left: 32px;
}

header{
	height:100px;
	color:white;
	margin:0;
	padding:0;
}

#logo{
	position: absolute;
	left: 40%;
}

.main-container{
	display:grid;
	grid-template-columns:auto auto auto;
  	grid-gap: 10px;
	margin : 3%;
	font-family: Arial, Helvetica, sans-serif;
  	background-image: url('Images/bg2.png');
	background-attachment: fixed;
	background-size: cover;
}
.pulldown_menu{
	display:grid;
	grid-template-columns:auto auto;
	grid-gap: 10px;
	margin : 3%;
	font-size:20px;
}

.fourImages{
	font-size:18px;
}

#image_continer{
	display:grid;
	grid-template-columns: auto auto;
  	grid-gap: 15px;
	margin-top:3%;
	margin-left:6%;
}
#image_description{
	display:grid;
	grid-template-columns: 50% 50%;
  	grid-gap: 15px;
	margin : 2%;
	background-color: white;
	font-family: Lucida Bright;
}
#item_des{
	margin-right:5%;
}


footer{
	clear:both;
	background-color:112d4e;
	margin-top:10px;
	padding:5px;
	color:#fff;
}
