body{
  width: 100%;
  overflow: hidden;
  background-image: url("./blank.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#header{
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#companyLogo{
  position: relative;
  top: 5px;
  transform: scale(0.3);
}

#links{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  width: 25%;
  height: 95%;
  border: solid white;
  border-width: 0 1px 0 0;
  transition-duration: 0.5s;
}

.link:hover{
  background: rgba(0, 0, 0, 0.4);
  transition-duration: 0.5s;
}

.link img{
  transform: scale(0.4);
}

.link p{
  font-family: "Lane";
  position: absolute;
  bottom: 270px;
}
